@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

$font-family: 'Rubik', sans-serif;

$color-primary: #2f2d52;
$color-secondary: #c0c0ca;
$color-dark-grey: #908e9b;
$color-dark: #333238;
$color-disabled: #e1dfe9;
$color-grey: #cecdd2;
$color-label: $color-dark-grey;
$color-light-blue: #37b9f1;
$color-light-grey: #f3f4f6;
$color-purple: #8739f9;
$color-text: #565360;
$color-white: #ffffff;
$text-sm1: 0.25rem;
$text-sm2: 0.375rem;
$text-sm3: 0.5rem;
$text-md1: 1rem;
$text-md2: 1.25rem;
$text-md3: 1.5rem;
$text-lg1: 2rem;
$text-lg2: 3rem;
$text-lg3: 4rem;
