@import 'base';

$data_types: (
  'schedule': 'Horario:',
  'teachers': 'Docente:',
  'laboratories': 'Laboratorio:',
  'subjects': 'Asignaturas:',
);

@mixin labelBefore() {
  @each $key, $value in $data_types {
    .section-card-container[data-type='#{$key}'] {
      grid-area: #{$key};
    }
  }
}

@include labelBefore();

.section-card-container {
  position: relative;
  height: 100%;
  width: 100%;

  .card-container {
    background-color: $color-white;
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    display: grid;
    gap: 1rem;
    grid-auto-rows: 60px;
    height: calc(100% - 20px);
    margin-top: 20px;
    overflow-y: scroll;
    padding-top: 50px;
    padding: 50px 1rem 1rem 1rem;
    width: 100%;

    h3 {
      font-size: 2.5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      background-color: $color-dark;
      color: $color-white;
      min-width: max-content;
      width: 80%;
      margin-inline: auto;
      padding: 1rem;
      border-radius: 0.7rem;
      height: 60px;
      position: absolute;
      left: 50%;
      top: -10px;
      transform: translateX(-50%);
    }

    .card {
      cursor: grab;
      background-color: $color-white;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      border-radius: 0.7rem;
      transform: scale(0.95);
      transition: transform 0.25s, box-shadow 0.25s;

      display: grid;
      grid-template-columns: 65% 1px auto;
      grid-auto-rows: 50%;
      grid-template-areas:
        'card-label-name hr card-label-code'
        'card-name hr card-code';

      overflow: hidden;

      .card-label-name {
        grid-area: card-label-name;
        margin-top: auto;
      }
      .card-name {
        grid-area: card-name;
      }

      .card-label-code {
        margin-top: auto;
        grid-area: card-label-code;
      }
      .card-code {
        grid-area: card-code;
      }

      hr {
        grid-area: hr;
      }
      span {
        font-size: $text-md2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 1rem;
        width: 100%;
      }

      &:hover {
        transform: scale(1);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
