@import 'base';

.header {
  grid-area: header;
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;

  .header-title {
    font-size: $text-md2;
    span {
      font-size: $text-md2;
      color: $color-dark-grey;

      &:last-child {
        color: $color-dark;
      }
    }
  }
}
