@import 'base';

.schedule-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  &__column {
    &:first-child {
      border-radius: 0.7rem 0 0 0.7rem;
    }

    &:last-child {
      border-radius: 0 0.7rem 0.7rem 0;
    }

    &:nth-child(even) {
      border: 1px solid $color-dark-grey;
      border-left: none;
      border-right: none;
    }

    &:nth-child(odd) {
      border: 1px solid $color-dark-grey;
    }

    padding: 10px;
  }

  &__column-name {
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__column-blocks {
    display: grid;
    gap: 10px;
  }

  &__block {
    display: grid;
    border: 1px solid #ddd;
    padding: 5px;
    grid-template-areas:
      'number  code'
      'subject subject'
      'teacher  place';

    &-number {
      grid-area: number;
      font-weight: bold;
    }

    &__info-code {
      grid-area: code;
      justify-self: end;
    }

    &__info-name {
      grid-area: subject;
      justify-self: center;
      align-self: center;
      text-align: center;
    }

    &__info-teacher {
      grid-area: teacher;
    }

    &__info-place {
      grid-area: place;
      justify-self: end;
      text-align: end;
    }
  }
}
