@import 'base';

.schedule-manager {
  &__select-schedule-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}

.schedule-grid__container.manager {
  position: relative;

  .generate-schedule__container {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .btn {
      margin-top: 20px;
    }
  }

  .edit-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
}
