@import 'base';
.schedule-grid {
  position: relative;
  display: grid;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  grid-template-columns: 150px repeat(5, calc((100% - 150px) / 5));
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0.7rem;

  &__column {
    padding: 10px;

    &:first-child {
      .schedule-grid__column-name {
        background-color: $color-matching-gradient-3;

        &:after {
          background-color: $color-matching-gradient-3;
        }
      }
    }

    &:nth-child(even) {
      border-left: 1px solid $color-grey;
      border-right: 1px solid $color-grey;
    }

    &:last-child {
      border-right: none;
    }

    &-name {
      transition: all 0.1s ease;
      position: sticky;
      top: 0;
      font-weight: bold;
      margin-bottom: 10px;
      background-color: $color-matching-gradient-2;
      color: $color-white;
      border-radius: 0.5rem;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      padding: 5px;
      z-index: 1;
    }

    &-blocks {
      display: grid;
      grid-auto-columns: 100%;
      grid-template-rows: repeat(6, 150px) repeat(2, 60px) repeat(8, 150px);
      gap: 10px;
    }
  }

  &__block {
    position: relative;
    display: grid;
    border: 1px solid #ddd;
    padding: 5px;
    grid-template-columns: repeat(2, 50%);
    z-index: 0;

    grid-template-areas:
      'number code'
      'subject subject'
      'teacher place';

    &:nth-child(7),
    &:nth-child(8) {
      &:not(.hour-block) {
        background-color: $color-grey;
      }
      .schedule-grid__block__info-name {
        grid-area: none;
        position: absolute;
      }
    }

    &-number {
      grid-area: number;
      font-weight: bold;
    }

    &__info-code {
      grid-area: code;
      justify-self: end;
    }

    &__info-name {
      grid-area: subject;
      justify-self: center;
      align-self: center;
      text-align: center;
    }

    &__info-teacher {
      grid-area: teacher;
      align-self: flex-end;
    }

    &__info-laboratory {
      grid-area: place;
      justify-self: end;
      text-align: end;
      align-self: flex-end;
    }
  }
}

.scrolling {
  .schedule-grid__column-name {
    border-radius: 0 0 0.5rem 0.5rem;
    z-index: 1;
    &:after {
      z-index: -1;
      content: '';
      display: block;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 0;
      text-align: center;
      height: 10px;
      background-color: $color-matching-gradient-2;
      width: 105%;
      transform: translateX(-2.5%);
    }

    h4 {
      &:before {
        content: '';
        display: block;
        position: absolute;
        right: 100%;
        top: 0;
        // border: 5px solid $color-light-grey;
        border-top-right-radius: 7px;
        width: 10px;
        height: 10px;
        background-color: $color-light-grey;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 100%;
        top: 0;
        border-top-left-radius: 7px;
        width: 10px;
        height: 10px;
        background-color: $color-light-grey;
      }

      &[data-color='white'] {
        &:before {
          border-color: $color-white;
          background-color: $color-white;
        }

        &:after {
          border-color: $color-white;
          background-color: $color-white;
        }
      }
    }
  }
}
