@import 'base';

.schedule-availability {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__editing-indicator {
    margin-right: auto;
    align-self: flex-end;
  }

  .schedule-grid__column:not(:first-child) {
    .schedule-grid__block {
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      :hover {
        animation: editingPulse 1s infinite;
      }

      * {
        pointer-events: none;
      }

      &.unavailable {
        background-color: $color-primary;

        span {
          color: $color-white;
        }
      }
    }
  }
}

.edit-btn {
  &.edit--active {
    opacity: 1;
    width: 180px;
    background-color: $color-matching-gradient-3;

    .icon-container {
      margin-left: 5px;
    }

    &:hover {
      width: 180px;
    }

    span::after {
      display: inline-block;
      animation: dotty steps(1, end) 1s infinite;
      content: '';
    }
  }
}

@keyframes editingPulse {
  0% {
    background-color: $color-white;
  }
  50% {
    background-color: $color-red-dark;
  }
  100% {
    background-color: $color-white;
  }
}

@keyframes dotty {
  0% {
    content: '';
  }

  25% {
    content: '.';
  }

  50% {
    content: '..';
  }

  75% {
    content: '...';
  }

  100% {
    content: '';
  }
}
